[Unit]
Description=System Health Dashboard

[Service]
Type=oneshot
User=vboxuser
ExecStart=/bin/bash /home/vboxuser/dashboard.sh
StandardOutput=append:/home/vboxuser/dashboard.log
StandardError=append:/home/vboxuser/dashboard.log
